body {
  font-family: monospace;
  font-size: 1.25rem;
}

input,
select {
  width: 100%;
  padding: 6px 16px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-size: 14px;
}

a,
:visited {
  color: green;
  font-weight: bold;
  text-decoration: none;
}

table {
  width: 100%;
}

th,
td {
  height: 30px;
  width: 100px;
  padding: 15px, 15px;
  text-align: left;
}

.left-column {
  text-align: right !important;
}

a:hover {
  color: darkgreen;
}

.container {
  transition: 1s;
  margin: 0px 25%;
  padding-bottom: 10px;
  min-height: 100vh;
}

@media only screen and (max-width: 1200px) {
  .container {
    transition: 1s;
    margin: 0px 20%;
    padding-bottom: 10px;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    transition: 1s;
    margin: 0px 10%;
    padding-bottom: 10px;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    transition: 1s;
    margin: 0px 8%;
    padding-bottom: 10px;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 415px) {
  .container {
    transition: 1s;
    margin: 0px 2%;
    padding-bottom: 10px;
    min-height: 100vh;
  }
}

.m-n {
  margin: 10px;
}

.m-m {
  margin: 15px;
}

.m-l {
  margin: 20px;
}

.bson-button {
  background-color: white;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 4px 10px;
  color: black;
}

.right-floated {
  float: right;
}

.bson-button-disabled {
  background-color: black;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 4px 10px;
  color: whitesmoke;
  transition: 1s;
}

.btn-large {
  font-size: 20px !important;
  padding: 5px 10px !important;
}

.bson-button:hover {
  background-color: black;
  color: white;
}

.bson-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.waiting-room-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.game-header-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  width: 280px;
}

.chat-box {
  flex-grow: 4;
  width: 100%;
}

.contents {
  flex-grow: 1;
}

.score-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 280px;
}

.result-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  text-align: center;
  font-size: 20px;
}

.chat-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 6px;
}

.chat-window {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  height: 50vh;
}

.chat-wrapper {
  overflow-y: auto;
}

.chat-input {
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.countdown-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.countdown {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transition: 1s;
  animation-name: countdown-animation;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in;
}

@keyframes countdown-animation {
  from {
    font-size: 20rem;
  }
  to {
    background-color: 0.1rem;
  }
}
