.color-primary-0 { color: #252D33 }	/* Main Primary color */
.color-primary-1 { color: #5D6A74 }
.color-primary-2 { color: #424E58 }
.color-primary-3 { color: #18242D }
.color-primary-4 { color: #0E1B26 }


.bg-color-primary-0 { background-color: #252D33 }	
.bg-color-primary-1 { background-color: #5D6A74 }
.bg-color-primary-2 { background-color: #424E58 }
.bg-color-primary-3 { background-color: #18242D }
.bg-color-primary-4 { background-color: #0E1B26 }
